<div class="container">
  <div class="driver">
    <h3>DRIVER</h3>
    <ul>
      <li>Become a Driver</li>
      <li>Why Lyft</li>
      <li>Cities</li>
      <li>Help</li>
      <li>Safety</li>
      <li>Driven by You</li>
      <li>Express Drive</li>
      <li>Apllication</li>
      <li>Bonus</li>
      <li>Earnings</li>
      <li>Jobs</li>
      <li>Hub</li>
    </ul>
  </div>
  <div class="rider">
    <h3>RIDER</h3>
    <ul>
      <li>Sign up to Ride</li>
      <li>Business Profile</li>
      <li>Cities</li>
      <li>Help</li>
      <li>Events</li>
      <li>Fare Estimates</li>
      <li>Airports</li>
      <li>Promo Code</li>
      <li>Gift Cards</li>
      <li>All-Access Plan</li>
      <li>Round Up & Donate</li>
      <li>Blog</li>
    </ul>
  </div>
  <div class="lyft">
    <h3>LYFT</h3>
    <ul>
      <li>Careers</li>
      <li>Business</li>
      <li>Self-Driving</li>
      <li>Developers</li>
      <li>Safety</li>
      <li>Scooters</li>
      <li>Press</li>
    </ul>
  </div>
  <div class="download">
    <h3 class="download-text">DOWNLOAD</h3>
    <!-- <div class="one"> -->
      <img src="../assets/img/app-store.svg" alt="" class="apple">
      <img src="../assets/img/amazon-appstore.png" alt="" class="amazon">
    <!-- </div> -->
    <!-- <div class="two"> -->
      <img src="../assets/img/microsoft.png" alt="" class="microsoft">
      <img src="../assets/img/google-play.png" alt="" class="google">
    <!-- </div> -->
  </div>
</div>
